<!-- <ul class="topnav">
  <li><a href="/">Home</a></li>
  <li><a  href="/dashBoard">Dashboard</a></li>
  <li><a href="/submit">Create Invitation</a></li>
  <li><a href="/auth/logout">Logout</a></li>
</ul> -->
<ul class="topnav">
  <li><a href="/dashBoard">DashBoard</a></li>
  <!-- <li><a href="/groups">Groups</a></li> -->
  <li><a href="/chats">Chats</a></li>
  <li><a href="/users/allUsers">All Users</a></li>
  <li><a href="/notifications">Notifications(<span style="color:red"><%=user.notifications.length%></span>)</a></li>
  <li><a href="/addPost">Create Post</a></li>
  <!-- <li><a href="/groups/create">Create Group</a></li> -->
  <!-- <li><a href="/groups/myGroups">My Groups</a></li> -->
  <li><a href="/users/myFriends">My Friends</a></li>
  <li><a href="/users/myProfile">My Profile</a></li>
  <li><a href="/auth/logout">Logout</a></li>

</ul>

<!-- <span style="color:red"><notifications.length%></span> -->
