<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Delta Project-Facebook clone</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdn.tiny.cloud/1/mz4azzdg6i1n2ztvy6vtkbsagrkmx6w4h43v68zdqee88ble/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

  <ul class="topnav">
    <li><a href="/dashBoard">DashBoard</a></li>
    <li><a href="/chats">Chats</a></li>
    <li><a href="/users/allUsers">All Users</a></li>
    <li><a href="/notifications">Notifications()</a></li>
    <li><a href="/addPost">Create Post</a></li>
    <li><a href="/users/myFriends">My Friends</a></li>
    <li><a href="/users/myProfile">My Profile</a></li>
    <li><a href="/auth/logout">Logout</a></li>
  </ul>
<h1 class="homeHeading">Facebook-clone</h1>
<h3 class="homeSub">Delta Project</h3>
<h3 class="homeSub">Register to Socialize !</h3>

<div class="homeButtonBox">
  <a class="homeButton" href="/auth/register" role="button">Register</a>
  <a class="homeButton" href="/auth/login" role="button">Login</a>
</div>


<%- include('partials/footer') %>
